[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiml = "*"
click = "*"
flask = "*"
get = "*"
gunicorn = "*"
itsdangerous = "*"
post = "*"
public = "*"
query-string = "*"
request = "*"
werkzeug = "*"
Jinja2 = "*"
MarkupSafe = "*"
certifi = "*"
chardet= "*"
cymem = "*"
Flask-Session = "*"
freeze = "*"
idna = "*"
numpy = "*"
plac = "*"
preshed = "*"
requests= "*"
six = "*"
tqdm = "*"
urllib3 = "*"
wasabi = "*"
python-dateutil = "*"
wget = "*"
beautifulsoup4 = "*"
lxml = "*"
PyYAML = "*"
Flask-SocketIO = "*"
tweepy ="*"
sleekxmpp = "*"
python-telegram-bot = "*"
pymessenger = "*"
twilio = "*"
slackclient ="*"
viberbot = "*"
line-bot-sdk = "*"
kik = "*"
discord = "*"
botbuilder-core ="*"
botbuilder-schema ="*"
wikipedia = "*"
MetOffer = "*"
APScheduler ="*"
emoji = "*"
autocorrect = "*"
textblob = "*"
redis = "*"
pymongo = "*"
SQLAlchemy ="*"
PyMySQL = "*"

[requires]
python_version = "3.7"
